body{
    background:#f5f7fa;
}

.dashboard-card{

    transition:.2s;

    border:none;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.dashboard-card:hover{

    transform:translateY(-5px);

}

.card{

    border-radius:15px;

}

.navbar-brand{

    font-size:1.3rem;

}
